@import 'config';
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Poppins:wght@500&display=swap);
body{
    background-color: $bg;
    font-family: "mulish";

    
}

// oopsie woopsie I forgot to do this, If I do it now half the pages collapse :PPPPPPPPPPPPPPPPPPPPPP (Kill me) -Z
// *{
//     box-sizing: border-box;
// }

body,html{
    
    margin: 0;
    padding: 0;
}

.background {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}