@import 'config';
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Poppins:wght@500&display=swap);
body{
    background-color: $bg;
    font-family: "mulish";

    
}

// oopsie woopsie I forgot to do this, If I do it now half the pages collapse :PPPPPPPPPPPPPPPPPPPPPP (Kill me) -Z
// *{
//     box-sizing: border-box;
// }

body,html{
    
    margin: 0;
    padding: 0;
}

.background {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: -1;
    inset: 0;
    opacity: 0.25;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

h1{
    // font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    font-size: 3.5rem !important;
}