@import 'config';
body{
    background-color: $bg;
    font-family: "mulish";

    
}

// oopsie woopsie I forgot to do this, If I do it now half the pages collapse :PPPPPPPPPPPPPPPPPPPPPP (Kill me) -Z
// *{
//     box-sizing: border-box;
// }

body,html{
    
    margin: 0;
    padding: 0;
}

.background {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}