// background color
$bg: rgb(238, 234, 235);

// defaults
$black : #000000;   
$white: #ffffff;
$darker: #818181;

$blue: hsl(240, 19%, 38%); 
$dBlue: hsl(240 25% 26%);
$pBlue: #98bad5;

// colors I might want to use.
$text: #09090c;
$background: #f5f4f9;
$primary: #5a47ba;
$secondary: #a598e6;
$accent: #715ae9;