@import 'config';

div.passChange {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba($black, $alpha: 0.75);
    z-index: 10;
    top: 0;
    left: 0;

    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    opacity: 0;

    transition: opacity 3s ease-in-out;

    .card{
        padding: 1rem;
        background-color: $dBlue;
        width: 20%;
        height: 500px;
        border-radius: 20px;
        color: $white;
        border: 2px $blue solid;
        

        h3{
            font-size: 2em;
            margin-top: 0;
        }
        
        #cross {
            position: relative;
            top: 0;
            left: 90%;  
            width: fit-content;
            color: white;
            cursor: pointer;
            font-size: 30px;
        }

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 70%;

            label{
                font-size: 1.5em;
            }

            input{
                font-size: 1.2em;
                padding: 0.5rem;
                border-radius: 10px;
            }

            button{
                font-size: 1.2em;
                padding: 0.5rem;
                position: relative;
                top: 60%;
            }
        }
    }
}