@use 'navbar';
@use 'base';


// *{
//     box-sizing: border-box;
// }

body {
    font-family: mulish;
    box-sizing: border-box;
    display:flex ;
    align-items: center;
    justify-content: flex-start;
    margin-top: 6rem;
}  
  .content {
      text-align: center;
      margin-left: 10%; 
      position: absolute;
      z-index: -1;
  }
  
  .left-aligned-photo {
      display: inline-block;
      max-width: 88%; 
  }
  
  .my-box1 {
      width: 320px;
      height: 150px;
      background-color: #fafafa; 
      padding: 90px; 
      margin: 20px 0 25px 900px;
    }
  
    .my-box1 h1 {
      margin-top: -50px;
    }

    #more {display: none;}