@use 'base';
@use 'navbar';
@import 'config';


body,
html {
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgba($pBlue, 0.7);
    // background-image: url('../img/Index1.png');
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 48px;
    font-family: 'Poppins';
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

main {
    padding: 0 10rem;
}

// default section makeup
section {
    padding: 2rem;
    background: $white;
    // dit moet anders kunnen maar ik weet niet hoe. Later even aan jesse vragen
    width: 49%;
    margin: 0.45rem;
    border-radius: 1rem;
    box-shadow: 2px 5px 1px darken($white, 15);

    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
        font-size: 48px;
        font-family: 'Poppins';
        margin: 0.5rem;
    }

    * {
        font-size: 32px;
    }

    a {
        margin: 0.5rem 0;
        font-style: normal;
        color: $blue;
    }


}

.manage {

    p {
        margin: 0.5rem 0;
    }
    a{
        width: fit-content;
    }
}

.test {

    p,
    a {
        text-align: center;
    }
}



.result {
    width: 100%;

    .results {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        // svg bullshit
        svg {
            circle.fg {
                transform: rotate(-90deg);
                transform-origin: 150px 150px;

            }
        }
    }

    .box {
        max-width: 910px;
    }
}

#progress {
    position: relative;
    bottom: 50px;
}

.contact {
    // width: 100%;

    p,
    a {
        padding: 0;
        margin: 0;
        width: fit-content;
        height: fit-content;
    }
}


// background with filter over it, picture size needs to fill but not lose ratio's to look nice
// Why is my body not even the full page and skips the nav bar, what the fuck man... actually getting paranoid

    // img{
    // aspect-ratio: 1/1;
    // min-height: 100%;
    // }
    // div.color{
    //     height: 100%;
    //     width: 100%;
    //     background-color: rgba(darken($white, 20) ,0.8);
    //     position: absolute;
    //     z-index: 0;
    // }

    // .background{
    //     top:-1%;
    //     background-color: green;
    // }