@use 'base';
@use 'navbar';
@import 'config';

h1 {
    text-align: center;
    font-size: 48px;
}

*{
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

// default section makeup
section {
    padding: 2rem;
    background: $white;
    // dit moet anders kunnen maar ik weet niet hoe. Later even aan jesse vragen
    width: 49%;
    margin: 0.45rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px darken($white, 15);

    display: flex;
    flex-direction: column;

    h2{
        text-align: center;
        font-size: 48px;
    }
    *{
        font-size: 32px;
    }
    a{
        margin: 0.5rem 0;
    }


}



main {
    padding: 0 10rem;
}

.manage {
    p{
        margin: 0.5rem 0;
    }
}

.test {
    p,a{
        text-align: center;
    }
}



.result{
    width: 100%;
    .results {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;



        // svg bullshit
        svg{
            circle.fg {
            transform: rotate(-90deg);
            transform-origin: 150px 150px;
            stroke-dasharray: '408.40 408.40';
          }
        }
    }
}

#progress {
    position:relative;
    bottom: 100px;
}

.contact {
    p,a {
        padding: 0;
        margin: 0;
        width: fit-content;
        height: fit-content;
    }
}